# Analitycs. Exercise 1

In [ ]:
# Load the data extracted from Narrativa's API on contagions and deaths by Covid
# Today the API is not operational
# Use the data saved in .csv
# datos_covid2021_3paises.csv

In [ ]:
# Data downloaded from Narrativa API
# - today_new_confirmed
# - today_new_deaths
# https://api.covid19tracking.narrativa.com/api/

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Load dataset datos_covid2021_3paises.csv
df = pd.read_csv('../datasets/datos_covid2021_3paises.csv')

In [3]:
# Show the dataset ; it also shows the number of rows and columns
df

      Unnamed: 0         dia    pais  contaxios  mortes
0              0  2021-01-01   Spain      18047     148
1              1  2021-01-02   Spain          0       0
2              2  2021-01-03   Spain          0       0
3              3  2021-01-04   Spain      30579     241
4              4  2021-01-05   Spain      23700     352
...          ...         ...     ...        ...     ...
1090        1090  2021-12-27  France      29614     245
1091        1091  2021-12-28  France     179316     294
1092        1092  2021-12-29  France     202293     173
1093        1093  2021-12-30  France     206243     180
1094        1094  2021-12-31  France     232200     189

[1095 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1095 non-null   int64
 1   dia         1095 non-null   object
 2   pais        1095 non-null   object
 3   contaxios   1095 non-null   int64
 4   mortes      1095 non-null   int64
dtypes: int64(3), object(2)
memory usage: 42.9+ KB

In [5]:
df.columns

Index(['Unnamed: 0', 'dia', 'pais', 'contaxios', 'mortes'], dtype='object')

In [6]:
# Dimensiones del dataset
df.shape

(1095, 5)

Limpeza de datos -> eliminación de valores nulos?? Valores a cero?

In [7]:
# Para comprobar que no haya nulls en las columnas
df.isnull().sum()

Unnamed: 0    0
dia           0
pais          0
contaxios     0
mortes        0
dtype: int64

In [8]:
# Análisis estadístico
# mean la media
df.describe()

        Unnamed: 0      contaxios       mortes
count  1095.000000    1095.000000  1095.000000
mean    547.000000   12094.346119    98.001826
std     316.243577   22131.971090   156.600004
min       0.000000       0.000000     0.000000
25%     273.500000     740.000000     6.000000
50%     547.000000    4197.000000    29.000000
75%     820.500000   14774.500000   126.500000
max    1094.000000  232200.000000  1163.000000

In [9]:
# Calcula a media de nuevos casos
df.contaxios.mean()

12094.346118721462

In [10]:
df['contaxios'].mean()

12094.346118721462

In [ ]:
# Calcula a media de novos casos ao día

In [11]:
# Convertir la columna 'dia' a formato de fecha si no lo está y si es necesario
# df['dia'] = pd.to_datetime(df['dia'])

# Calcular la suma total de contaxios por COVID
suma_contaxios_covid = df['contaxios'].sum()

# Calcular el número total de días en los datos
total_dias = df['dia'].nunique()

# Calcular la media de contaxios al día por COVID
media_contaxios_al_dia_covid = suma_contaxios_covid / total_dias

print(media_contaxios_al_dia_covid)

36283.03835616438

In [12]:
# Calcula a media de mortes 
df.mortes.mean()

98.00182648401827

In [13]:
df['mortes'].mean()

98.00182648401827

In [ ]:
# Calcula a media de mortes ao día

In [14]:
# Calcular la suma total de muertes por COVID
suma_mortes_covid = df['mortes'].sum()

# Calcular el número total de días en los datos
total_dias = df['dia'].nunique()

# Calcular la media de muertes al día por COVID
media_mortes_al_dia_covid = suma_mortes_covid / total_dias

print(media_mortes_al_dia_covid)

294.0054794520548

In [15]:
df.mean(numeric_only=True)

Unnamed: 0      547.000000
contaxios     12094.346119
mortes           98.001826
dtype: float64

In [ ]:
# 1.Calculate the average number of contagions for 'Spain'.
# 1.Calcular la media de contagios de 'España'.

In [16]:
df_españa = df[df['pais'] == 'Spain']
df_españa

     Unnamed: 0         dia   pais  contaxios  mortes
0             0  2021-01-01  Spain      18047     148
1             1  2021-01-02  Spain          0       0
2             2  2021-01-03  Spain          0       0
3             3  2021-01-04  Spain      30579     241
4             4  2021-01-05  Spain      23700     352
..          ...         ...    ...        ...     ...
360         360  2021-12-27  Spain     214619     120
361         361  2021-12-28  Spain      99671     114
362         362  2021-12-29  Spain     100760      78
363         363  2021-12-30  Spain     161688      74
364         364  2021-12-31  Spain     161688      74

[365 rows x 5 columns]

In [17]:
df.loc[df['pais'] == 'Spain', 'contaxios'].mean()

12977.517808219178

In [18]:
df_españa = df[df['pais'] == 'Spain']
df_españa['contaxios'].mean()

12977.517808219178

In [ ]:
# 2.Calculate the average number of deaths per day for 'France'.
# 2.Calcula el número medio de muertes por día en 'Francia'.

In [19]:
df[df['pais'] == 'France']

      Unnamed: 0         dia    pais  contaxios  mortes
730          730  2021-01-01  France      19143     132
731          731  2021-01-02  France       3359     156
732          732  2021-01-03  France      12489     116
733          733  2021-01-04  France       4022     378
734          734  2021-01-05  France      20280     866
...          ...         ...     ...        ...     ...
1090        1090  2021-12-27  France      29614     245
1091        1091  2021-12-28  France     179316     294
1092        1092  2021-12-29  France     202293     173
1093        1093  2021-12-30  France     206243     180
1094        1094  2021-12-31  France     232200     189

[365 rows x 5 columns]

In [20]:
# Filtrar el DataFrame por "Francia"
df_francia = df[df['pais'] == 'France']

# Calcular la suma total de muertes por COVID en Francia
suma_mortes_francia = df_francia['mortes'].sum()

# Calcular el número total de días en los datos para Francia
total_dias_francia = df_francia['dia'].nunique()

# Calcular la media de muertes al día por COVID en Francia
media_mortes_al_dia_francia = suma_mortes_francia / total_dias_francia

print(media_mortes_al_dia_francia)

154.0904109589041

In [21]:
mortes_francia = df[df['pais'] == 'France']
media_mortes_francia_dia = mortes_francia.groupby('dia')['mortes'].mean()
media_mortes_francia_dia.mean()

154.0904109589041

Index(['Unnamed: 0', 'dia', 'pais', 'contaxios', 'mortes'], dtype='object')

In [22]:
# 3.Calculate the maximum number of cases.
# 3.Calcule el número máximo de casos.
df.contaxios.max()

232200

In [23]:
df.agg(['max'])

     Unnamed: 0         dia   pais  contaxios  mortes
max        1094  2021-12-31  Spain     232200    1163

In [24]:
df.max()

Unnamed: 0          1094
dia           2021-12-31
pais               Spain
contaxios         232200
mortes              1163
dtype: object

In [25]:
# 4.Calculate the average number of cases separated by groups.
# 4.Calcula el número promedio de casos separados por grupos.
df_grupos_pais = df.groupby('pais')
df_grupos_pais.contaxios.mean()

pais
France      20638.731507
Portugal     2666.789041
Spain       12977.517808
Name: contaxios, dtype: float64

In [ ]:
# 5.Is there a correlation between number of new cases and deaths?
# 5.¿Existe una correlación entre el número de casos nuevos y las muertes?

In [26]:
df.corr(numeric_only=True)

            Unnamed: 0  contaxios    mortes
Unnamed: 0    1.000000   0.163231 -0.037993
contaxios     0.163231   1.000000  0.385233
mortes       -0.037993   0.385233  1.000000

Explicar correlación

In [27]:
# 6.If there is a relationship, in which country is it greater?
# 6.Si existe relación, ¿en qué país es mayor?
df_grupos_pais.corr(numeric_only=True)

                     Unnamed: 0  contaxios    mortes
pais
France   Unnamed: 0    1.000000   0.166301 -0.552387
         contaxios     0.166301   1.000000  0.298286
         mortes       -0.552387   0.298286  1.000000
Portugal Unnamed: 0    1.000000  -0.052026 -0.540876
         contaxios    -0.052026   1.000000  0.563438
         mortes       -0.540876   0.563438  1.000000
Spain    Unnamed: 0    1.000000   0.067659 -0.478932
         contaxios     0.067659   1.000000  0.323957
         mortes       -0.478932   0.323957  1.000000

En Portugal es mayor la relación entre el número de casoso nuevos y las muertes

In [ ]:
# 7. What is the median of contagions in Portugal?
# 7. ¿Cuál es la mediana de contagios en Portugal?

In [28]:
df[df['pais'] == 'Portugal'].describe()

       Unnamed: 0     contaxios      mortes
count  365.000000    365.000000  365.000000
mean   547.000000   2666.789041   32.964384
std    105.510663   3923.690020   64.752796
min    365.000000      0.000000    0.000000
25%    456.000000    592.000000    4.000000
50%    547.000000   1186.000000    9.000000
75%    638.000000   2898.000000   17.000000
max    729.000000  30829.000000  303.000000

In [29]:
df[df['pais'] == 'Portugal'].contaxios.describe()

count      365.000000
mean      2666.789041
std       3923.690020
min          0.000000
25%        592.000000
50%       1186.000000
75%       2898.000000
max      30829.000000
Name: contaxios, dtype: float64

In [30]:
df[df.pais == 'Portugal'].contaxios.median()

1186.0

In [31]:
# 8. What are the values of the Q1 and Q3 percentages for France for the number of infections?
# 8. ¿Cuáles son los valores de los porcentajes del primer y tercer trimestre de Francia en cuanto al número de contagios?
df[df.pais == 'France'].contaxios.describe() # no se si esta bien

count       365.000000
mean      20638.731507
std       27856.055009
min           0.000000
25%        4256.000000
50%       13630.000000
75%       25087.000000
max      232200.000000
Name: contaxios, dtype: float64

25%        4256.000000

75%       25087.000000

In [ ]:
# 9. How many different values are there for the number of infections in a day in each country?
# 9. ¿Cuántos valores diferentes existen para el número de contagios en un día en cada país?

In [36]:
len(df[df.pais == 'France'].contaxios.unique())

332

In [37]:
len(df[df.pais == 'Spain'].contaxios.unique())

250

In [38]:
len(df[df.pais == 'Portugal'].contaxios.unique())

345

In [39]:
# 10. Minimum and maximum value of infections per day for each country
# 10. Valor mínimo y máximo de contagios por día para cada país
df_grupos_pais.contaxios.agg(['min','max'])

          min     max
pais
France      0  232200
Portugal    0   30829
Spain       0  214619

In [40]:
df.groupby('pais')['contaxios'].min()

pais
France      0
Portugal    0
Spain       0
Name: contaxios, dtype: int64

In [40]:
df.groupby('pais')['contaxios'].max()

pais
France      232200
Portugal     30829
Spain       214619
Name: contaxios, dtype: int64