# Exercise 3. Distributions

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Dataset of students o portuguese and alcohol consumption
school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3

estudantes_portugues.csv

https://www.kaggle.com/uciml/student-alcohol-consumption

In [4]:
df = pd.read_csv('../datasets/estudantes_portugues.csv',sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [ ]:
# How are the student's ages distributed?
# Show a histogram type data and interpret the data.

In [ ]:
# Visualize the distribution of study hours. Is there a difference between men and women?

In [ ]:
# Visualize the distribution of the results of the first grade 'G1'.

In [ ]:
# Is there any difference in gender distribution?

### Dataset of characteristics of IRIS flowers
 This is a dataset with measurements on different types of iris flowers, widely used in automatic learning examples.

iris.csv

https://www.kaggle.com/uciml/iris

In [ ]:
# Visualize the values of petals length of Iris flowers with a histogram and a kde graph.

In [ ]:
# Visualize if the measure is distributed in the same way in three different varieties of iris.

In [ ]:
# Check if it behaves in the same way in the case of petal width.

In [ ]:
# According to the previous graphs, it would make sense to say that, in general, the flowers of "iris setosa" are larger than those of the variety "iris virginica"?

In [ ]:
# A graph that confronts the two variables: length and width, can definitively clarify the comparison of sizes

In [ ]:
# Considering the previous graph, do you think that the variables width and length of the petals would be good indicators
# when identifying the variety of iris?

In [ ]:
# Which varieties do you think would be more likely to confuse? why?

In [ ]:
# Could we use the variables related to the sepals for the same identification purpose? Where would we encounter problems?

### Dataset: Medical Cost Personal Datasets
Dataset con información de asegurados

https://www.kaggle.com/mirichoi0218/insurance/version/1

insurance.csv

In [ ]:
# load dataset

In [ ]:
# Visualize how charges are distributed to different clients.

In [ ]:
# Check if a insured smoker person has a different distribution in the cost of the insurance.

In [ ]:
# What would you say about insurance costs for smokers and non-smokers?

In [ ]:
# What would you say about insurance costs in relation to the areas where the insured people live?

In [ ]:
# What would you say about the body mass index of men and women?