# Exercise 5. Scatter plots

API SEABORN - Scatterplots

https://seaborn.pydata.org/generated/seaborn.scatterplot.html

Scatter plots are useful for understanding the relationship between two continuous variables.

We can add a third categorical variable (with colors, or with another type of graphs).

Remember that in bar charts the relationship was between a numerical variable and another categorical variable.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load the dataset with information of the experiment about candies
# https://fivethirtyeight.com/videos/the-ultimate-halloween-candy-power-ranking/
# candy.csv

In [ ]:
# 1. Load the dataset about candies

In [2]:
df_candy = pd.read_csv("../datasets/candy.csv")

In [ ]:
# 2. Take a look at the dataset
# Echa un vistazo al conjunto de datos

In [3]:
df_candy

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,0,100 Grand,Yes,No,Yes,No,No,Yes,No,Yes,No,0.732,0.860,66.971725
1,1,3 Musketeers,Yes,No,No,No,Yes,No,No,Yes,No,0.604,0.511,67.602936
2,2,Air Heads,No,Yes,No,No,No,No,No,No,No,0.906,0.511,52.341465
3,3,Almond Joy,Yes,No,No,Yes,No,No,No,Yes,No,0.465,0.767,50.347546
4,4,Baby Ruth,Yes,No,Yes,Yes,Yes,No,No,Yes,No,0.604,0.767,56.914547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Twizzlers,No,Yes,No,No,No,No,No,No,No,0.220,0.116,45.466282
79,79,Warheads,No,Yes,No,No,No,No,Yes,No,No,0.093,0.116,39.011898
80,80,Welch's Fruit Snacks,No,Yes,No,No,No,No,No,No,Yes,0.313,0.313,44.375519
81,81,Werther's Original Caramel,No,No,Yes,No,No,No,Yes,No,No,0.186,0.267,41.904308
82,82,Whoppers,Yes,No,No,No,No,Yes,No,No,Yes,0.872,0.848,49.524113

The dataset contains 83 rows, where each corresponds to a different candy bar. There are 13 columns:


- 'competitorname' contains the name of the candy bar.
- the next 9 columns (from 'chocolate' to 'pluribus') describe the candy. For instance, rows with chocolate candies have "Yes" in the - - 'chocolate' column (and candies without chocolate have "No" in the same column).
- 'sugarpercent' provides some indication of the amount of sugar, where higher values signify higher sugar content.
- 'pricepercent' shows the price per unit, relative to the other candies in the dataset.
- 'winpercent' is calculated from the survey results;higher values indicate that the candy was more popular with survey respondents.

In [4]:
df_candy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                83 non-null     int64
 1   competitorname    83 non-null     object
 2   chocolate         83 non-null     object
 3   fruity            83 non-null     object
 4   caramel           83 non-null     object
 5   peanutyalmondy    83 non-null     object
 6   nougat            83 non-null     object
 7   crispedricewafer  83 non-null     object
 8   hard              83 non-null     object
 9   bar               83 non-null     object
 10  pluribus          83 non-null     object
 11  sugarpercent      83 non-null     float64
 12  pricepercent      83 non-null     float64
 13  winpercent        83 non-null     float64
dtypes: float64(3), int64(1), object(10)
memory usage: 9.2+ KB

In [6]:
df_candy.describe()

              id  sugarpercent  pricepercent  winpercent
count  83.000000     83.000000     83.000000   83.000000
mean   41.000000      0.489916      0.472627   50.584908
std    24.103942      0.276498      0.286503   14.748880
min     0.000000      0.034000      0.011000   22.445341
25%    20.500000      0.267000      0.261000   39.163280
50%    41.000000      0.465000      0.465000   48.982651
75%    61.500000      0.732000      0.703000   60.332349
max    82.000000      0.988000      0.976000   84.180290

In [ ]:
# 3. What is the most expensive candy (pricepercent)?
# ¿Cuál es el caramelo más caro (precio por ciento)?

In [ ]:
# 4. Which are the 5 worst rated sweets (winpercent)?
# ¿Cuáles son los 5 dulces peor valorados (winpercent)?

In [ ]:
# 5. Do people prefer sweets with more sugar?
# Investigate the relationship between the two variables.
# ¿La gente prefiere los dulces con más azúcar?
# Investigue la relación entre las dos variables.

In [ ]:
# 6. Show the strength of the correlation between the two variables, now with a regression line.
# Muestre la fuerza de la correlación entre las dos variables, ahora con una línea de regresión.

In [ ]:
# 7. Would you say it is a strong or weak correlation?
# ¿Dirías que es una correlación fuerte o débil?

In [ ]:
# 8. Shows the relationship between price and popularity of a candy.
# Nesta ocasión utiliza a variable categórica "chocolate".
# Muestra la relación entre precio y popularidad de un caramelo.
# Nesta ocasión utiliza una variable categórica "chocolate".

In [ ]:
# 9. Do you detect any interesting patterns?
# ¿Detectas algún patrón interesante?

In [ ]:
# 10. Use regression lines to clarify the relationships between these variables taking into account the variable "chocolate".
# Utilice líneas de regresión para aclarar las relaciones entre estas variables teniendo en cuenta la variable "chocolate".

In [ ]:
# 11. What conclusion do you get from these graphs
# ¿Qué conclusión sacas de estos gráficos?