Missing values - Práctica

In [ ]:
# Importa as librarías

In [ ]:
import pandas as pd

In [ ]:
# Carga o dataset con datos do titanic

In [ ]:
titanic = pd.read_csv('../datasets/titanic_train.csv')

In [ ]:
# Consulta os tipos das variables do dataset e observa se  hai valores nulos

In [ ]:
titanic.info()

In [ ]:
# Mostra o número de valores núlos por variable

In [ ]:
titanic.isnull().sum()

In [ ]:
# Crea un novo dataset no que non haxa filas con valores nulos (eliminar filas)

In [ ]:
titanic_sen_filas_null = titanic.dropna()

In [ ]:
# Calcula o número de filas eliminadas

In [ ]:
filas_eliminadas = titanic['PassengerId'].count() - titanic_sen_filas_null['PassengerId'].count()
print(f'Filas eliminadas: {filas_eliminadas}')

In [ ]:
# Crea un novo dataset sen as columnas que teñan máis de 10 nulos

In [ ]:
nrows, ncols = titanic.shape
titanic_sen_columnas = titanic.dropna(axis=1,thresh=(nrows-10))
titanic_sen_columnas.isnull().sum()

In [ ]:
# Calcula no número de columnas eliminadas

In [ ]:
columnas_eliminadas = len(titanic.columns) - len(titanic_sen_columnas.columns)
print(f'Columnas eliminadas: {columnas_eliminadas}')

In [ ]:
# Crea un novo dataset a partir do orixinal cos seguintes cambios:
# Reempraza os valores null da columna de idade ('Age') pola media das idades do resto do dataset
# Reempraza nulos na variable "Embarked" polo valor máis frecuente na variable
# Elimina as columnas con valores nulos

In [ ]:
# Podemos consultalo con un countplot
import seaborn as sns
sns.countplot(data=titanic,x='Embarked')

In [ ]:
# Podemos extraelo con un top sobre describe
titanic.Embarked.describe().top

In [ ]:
titanic.info()

In [ ]:
novo_titanic = titanic.copy()
novo_titanic['Age'] = novo_titanic[['Age']].apply(lambda x: x.fillna(x.mean()),axis=0)
novo_titanic['Embarked'] = novo_titanic[['Embarked']].apply(lambda x: x.fillna(titanic.Embarked.describe().top),axis=0)
novo_titanic.dropna(axis=1,inplace=True)

In [ ]:
# Carga o un dataset con missing values con datos sobre viaxes-desprazamentos
# https://openmv.net/info/travel-times
# datasets <- travel-times.csv

In [ ]:
travel_times = pd.read_csv('../datasets/travel-times.csv')

In [ ]:
#Visualiza os tipos de datos

In [ ]:
travel_times.info()

In [ ]:
# Visualiza o número de nulos

In [ ]:
travel_times.isnull().sum()

In [ ]:
# Elimina as columnas con máis da metade de nulos

In [ ]:
travel_times.dropna(axis=1,thresh=(travel_times.Date.count()/2),inplace=True)
travel_times.info()

In [ ]:
# Substitúe os valores nulos utilizando o valor da fila anterior
# Comproba se o restultado era o que esperabas

In [ ]:
travel_times.fillna(method='ffill',inplace=True)
travel_times.info()

In [ ]:
## Hai un problema porque os primeiros valores son NaN

In [ ]:
travel_times.fillna(method='bfill',inplace=True)
travel_times.info()

In [ ]:
travel_times

In [ ]:
...