# Missing values & Duplicades rows

Sometimes our data contains duplicate rows or missing data. These alterations can influence our analysis, so they require special treatment.

The easiest solution (but not the most convenient) is to eliminate the missing values, but there are other alternatives.

In [1]:
import pandas as pd
#import numpy as np

### Missing values

In [8]:
# Ficheiro with numerical data on contamination levels
niveis = pd.read_csv('../datasets/niveis_de_contaminacion.csv')
niveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Numero_de_empresas  33 non-null     int64
 1   PM10                33 non-null     int64
 2   PM2.5               29 non-null     float64
 3   SO2                 32 non-null     float64
 4   CO                  33 non-null     int64
 5   NOX                 25 non-null     float64
 6   COV                 33 non-null     int64
 7   NH3                 33 non-null     int64
 8   CN                  25 non-null     float64
dtypes: float64(4), int64(5)
memory usage: 2.4 KB

In [ ]:
# We can that there is many missing values

In [9]:
niveis

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,NaN,11692,254,NaN
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,NaN,10141.0,1325,NaN,2885,484,450.0
17,8,2913,1650.0,286.0,472,NaN,1427,536,NaN
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,NaN,6327,1840,NaN
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,NaN,NaN,2,NaN,193,0,NaN

In [10]:
# show number of nulls per column
niveis.isnull().sum()

Numero_de_empresas    0
PM10                  0
PM2.5                 4
SO2                   1
CO                    0
NOX                   8
COV                   0
NH3                   0
CN                    8
dtype: int64

In [11]:
# we can directly delete all rows that have null values
niveis.dropna()

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0

In [12]:
# Number of dropped rows
niveis.shape[0] - niveis.dropna().shape[0]

14

In [13]:
# inplace option makes changes permanent
niveis.dropna(inplace=True)
niveis

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0

In [14]:
# File with categorical data about purchase data
compras = pd.read_csv('../datasets/patron_de_compra_con_null.csv', index_col=0)
compras.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 1 to 14
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Estado_Civil   12 non-null     object
 1   Profesion      13 non-null     object
 2   Estudios_Univ  14 non-null     object
 3   Tiene_Auto     11 non-null     object
 4   Compra         14 non-null     object
dtypes: object(5)
memory usage: 672.0+ bytes

In [15]:
compras

          Estado_Civil  Profesion Estudios_Univ Tiene_Auto Compra
IdCliente
1               Casado  Empresari            Si         No     No
2               Casado  Empresari            Si         Si     No
3                  NaN  Empresari            Si        NaN     Si
4                Viudo   Desemple            Si         No     Si
5                Viudo   Empleado            No         No     Si
6                Viudo        NaN            No         Si     No
7              Soltero   Empleado            No         Si     Si
8               Casado   Desemple            Si         No     No
9               Casado   Empleado            No         No     Si
10               Viudo   Desemple            No        NaN     Si
11                 NaN   Desemple            No         Si     Si
12             Soltero   Desemple            Si         Si     No
13             Soltero  Empresari            No         No     Si
14               Viudo   Desemple            Si        NaN     No

In [16]:
# How to delete rows with missing values
compras_sen_nulos = compras.dropna()
compras_sen_nulos

          Estado_Civil  Profesion Estudios_Univ Tiene_Auto Compra
IdCliente
1               Casado  Empresari            Si         No     No
2               Casado  Empresari            Si         Si     No
4                Viudo   Desemple            Si         No     Si
5                Viudo   Empleado            No         No     Si
7              Soltero   Empleado            No         Si     Si
8               Casado   Desemple            Si         No     No
9               Casado   Empleado            No         No     Si
12             Soltero   Desemple            Si         Si     No
13             Soltero  Empresari            No         No     Si

In [17]:
# By default dropna() is applied to the rows.
# If we want to eliminate the columns with null values, we indicate axis 1
compras_sen_columnas_null = compras.dropna(axis=1)
compras_sen_columnas_null

          Estudios_Univ Compra
IdCliente
1                    Si     No
2                    Si     No
3                    Si     Si
4                    Si     Si
5                    No     Si
6                    No     No
7                    No     Si
8                    Si     No
9                    No     Si
10                   No     Si
11                   No     Si
12                   Si     No
13                   No     Si
14                   Si     No

In [18]:
# Losing a column can mean too much, so we can set a limit or limit to eliminate or maintain the column.
# Thresh/Threshold indicates the minimum number of NOT NULL values I need to maintain the column.
compras_sen_algunhas_columnas = compras.dropna(axis=1, thresh=12)
compras_sen_algunhas_columnas
## modify threshold

          Estado_Civil  Profesion Estudios_Univ Compra
IdCliente
1               Casado  Empresari            Si     No
2               Casado  Empresari            Si     No
3                  NaN  Empresari            Si     Si
4                Viudo   Desemple            Si     Si
5                Viudo   Empleado            No     Si
6                Viudo        NaN            No     No
7              Soltero   Empleado            No     Si
8               Casado   Desemple            Si     No
9               Casado   Empleado            No     Si
10               Viudo   Desemple            No     Si
11                 NaN   Desemple            No     Si
12             Soltero   Desemple            Si     No
13             Soltero  Empresari            No     Si
14               Viudo   Desemple            Si     No

### Detection of duplicate rows

In [19]:
# Ficheiro with numerical data on contamination levels
niveis = pd.read_csv('../datasets/niveis_de_contaminacion.csv')
niveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Numero_de_empresas  33 non-null     int64
 1   PM10                33 non-null     int64
 2   PM2.5               29 non-null     float64
 3   SO2                 32 non-null     float64
 4   CO                  33 non-null     int64
 5   NOX                 25 non-null     float64
 6   COV                 33 non-null     int64
 7   NH3                 33 non-null     int64
 8   CN                  25 non-null     float64
dtypes: float64(4), int64(5)
memory usage: 2.4 KB

In [20]:
# 'Duplicated' function returns a series indicating the duplicated rows.
niveis.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
dtype: bool

In [21]:
niveis[niveis.duplicated()]

    Numero_de_empresas  PM10   PM2.5      SO2    CO     NOX   COV  NH3     CN
25                 214  5063  3083.0  54592.0  2510  4845.0  3419  912  812.0

In [22]:
# To remove duplicate rows there is a specific function: drop_duplicates
niveis.drop_duplicates()

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,NaN,11692,254,NaN
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,NaN,10141.0,1325,NaN,2885,484,450.0
17,8,2913,1650.0,286.0,472,NaN,1427,536,NaN
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,NaN,6327,1840,NaN
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,NaN,NaN,2,NaN,193,0,NaN

In [23]:
niveis_novo = niveis.drop_duplicates()

In [24]:
# I can also eliminate rows with little useful data (see line 32)
niveis_novo = niveis_novo.dropna(thresh=8)

In [25]:
niveis_novo

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0

In [26]:
# We calculate some statistics on the orixinal data
niveis.mean()

Numero_de_empresas      233.090909
PM10                   6565.636364
PM2.5                  4909.482759
SO2                   69570.406250
CO                    19161.121212
NOX                   18707.280000
COV                    8096.242424
NH3                     896.424242
CN                      597.720000
dtype: float64

In [27]:
niveis.std()

Numero_de_empresas       346.377356
PM10                    7711.727059
PM2.5                   5258.749638
SO2                   110163.166286
CO                     34131.505325
NOX                    31415.400186
COV                    10278.400976
NH3                     1474.116431
CN                      1081.491467
dtype: float64

In [28]:
niveis.agg(['mean','std'])

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
mean,233.090909,6565.636364,4909.482759,69570.406250,19161.121212,18707.280000,8096.242424,896.424242,597.720000
std,346.377356,7711.727059,5258.749638,110163.166286,34131.505325,31415.400186,10278.400976,1474.116431,1081.491467

In [ ]:
# We can check the effect that data cleaning has on the calculation of statistics.

In [29]:
niveis_novo.agg(['mean','std'])

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
mean,247.148148,6992.814815,5053.120000,76646.074074,22817.592593,19284.875000,8934.555556,946.518519,594.826087
std,370.529320,8181.634382,5513.704383,117985.489364,36824.022994,31955.190952,11076.046088,1606.022305,1128.213417

In [ ]:
# When missing values appear, we can decide to replace them.
# It is important to choose the appropriate technique in each case, because an inadequate replacement can modify other results in an undesired way.

In [ ]:
# Some replacement techniques (with numerical values)
# - replacement with fixed value (zero?)
# - replacement with column median
# - replacement with median of column

In [30]:
# We load again the contamination data
niveis = pd.read_csv('../datasets/niveis_de_contaminacion.csv')

In [31]:
niveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Numero_de_empresas  33 non-null     int64
 1   PM10                33 non-null     int64
 2   PM2.5               29 non-null     float64
 3   SO2                 32 non-null     float64
 4   CO                  33 non-null     int64
 5   NOX                 25 non-null     float64
 6   COV                 33 non-null     int64
 7   NH3                 33 non-null     int64
 8   CN                  25 non-null     float64
dtypes: float64(4), int64(5)
memory usage: 2.4 KB

In [32]:
niveis

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,NaN,11692,254,NaN
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,NaN,10141.0,1325,NaN,2885,484,450.0
17,8,2913,1650.0,286.0,472,NaN,1427,536,NaN
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,NaN,6327,1840,NaN
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,NaN,NaN,2,NaN,193,0,NaN

In [ ]:
# Replacement of missing values with a fixed value

In [33]:
# replacement with zero -> function "fillna()".
niveis_zero = niveis.fillna(0)
niveis_zero

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,0.0,11692,254,0.0
2,27,1028,752.0,22890.0,505,0.0,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,0.0,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,0.0
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,0.0,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,0.0,10141.0,1325,0.0,2885,484,450.0
17,8,2913,1650.0,286.0,472,0.0,1427,536,0.0
18,480,9752,7074.0,35548.0,85330,0.0,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,0.0,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,0.0
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,0.0,6327,1840,0.0
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,0.0
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,0.0
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,0.0,0.0,2,0.0,193,0,0.0

In [34]:
# replacement coa average of each column
niveis_media = niveis.apply(lambda x: x.fillna(x.mean()), axis=0)
# axis = 0 <- columns
# x.mean() <- column mean
# x.fillna() <- replace null values
# lambda function is applied to columns(x)
niveis_media

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.000000,1814.00000,235,843.00,1836,14,5.00
1,588,1978,1842.000000,5588.00000,6850,18707.28,11692,254,597.72
2,27,1028,752.000000,22890.00000,505,18707.28,516,115,58.00
3,39,4527,3847.000000,574973.00000,8698,34132.00,3465,382,356.00
4,214,5063,3083.000000,54592.00000,2510,4845.00,3419,912,812.00
5,34,3360,4909.482759,33287.00000,9505,11015.00,4741,264,137.00
6,42,19963,16177.000000,190970.00000,24171,158743.00,6202,1220,597.72
7,367,8207,4958.000000,166476.00000,1767,20578.00,1296,449,508.00
8,1569,1381,826.000000,699.00000,766,2217.00,21967,50,23.00
9,80,2971,4909.482759,27144.00000,2930,6645.00,3156,157,166.00
10,233,3810,2770.000000,48462.00000,74299,9249.00,10155,1137,171.00
11,8,8215,7725.000000,104172.00000,2327,11206.00,708,88,451.00
12,129,12532,8977.000000,216611.00000,115085,31484.00,7567,322,370.00
13,692,8768,5399.000000,23897.00000,3216,6323.00,15623,1983,1172.00
14,1232,5103,3627.000000,6763.00000,6244,15159.00,48140,233,187.00
15,151,5095,3460.000000,13717.00000,2856,4303.00,5379,1957,379.00
16,65,3133,4909.482759,10141.00000,1325,18707.28,2885,484,450.00
17,8,2913,1650.000000,286.00000,472,18707.28,1427,536,597.72
18,480,9752,7074.000000,35548.00000,85330,18707.28,13498,511,337.00
19,20,9218,5838.000000,111005.00000,104373,18707.28,7383,3376,838.00
20,252,4556,2673.000000,4558.00000,2576,6335.00,3685,54,552.00
21,184,1510,1153.000000,4444.00000,2379,6916.00,5930,92,597.72
22,11,2076,1199.000000,566.00000,349,512.00,866,387,348.00
23,132,14733,9472.000000,86202.00000,5083,18707.28,6327,1840,597.72
24,62,7203,4623.000000,106277.00000,1209,10896.00,3119,763,597.72
25,214,5063,3083.000000,54592.00000,2510,4845.00,3419,912,812.00
26,179,7986,5116.000000,75004.00000,3732,13328.00,4093,327,259.00
27,104,3612,2501.000000,14118.00000,6911,21139.00,6280,607,496.00
28,222,7572,6162.000000,50158.00000,69356,30307.00,30732,2071,324.00
29,94,307,211.000000,1456.00000,244,822.00,1216,10,597.72
30,197,41938,25779.000000,160835.00000,81529,45656.00,26427,7877,5608.00
31,51,2108,1769.000000,19008.00000,2973,10184.00,3834,198,124.00
32,12,40,4909.482759,69570.40625,2,18707.28,193,0,597.72

In [35]:
# replacement with the average of each column
niveis_mediana = niveis.apply(lambda x: x.fillna(x.median()), axis=0)
niveis_mediana

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,10184.0,11692,254,356.0
2,27,1028,752.0,22890.0,505,10184.0,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,3460.0,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,356.0
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,3460.0,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,3460.0,10141.0,1325,10184.0,2885,484,450.0
17,8,2913,1650.0,286.0,472,10184.0,1427,536,356.0
18,480,9752,7074.0,35548.0,85330,10184.0,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,10184.0,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,356.0
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,10184.0,6327,1840,356.0
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,356.0
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,356.0
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,3460.0,30215.5,2,10184.0,193,0,356.0

In [36]:
# File with categorical data about purchase data
compras = pd.read_csv('../datasets/patron_de_compra_con_null.csv', index_col=0)
compras.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 1 to 14
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Estado_Civil   12 non-null     object
 1   Profesion      13 non-null     object
 2   Estudios_Univ  14 non-null     object
 3   Tiene_Auto     11 non-null     object
 4   Compra         14 non-null     object
dtypes: object(5)
memory usage: 672.0+ bytes

In [37]:
compras

          Estado_Civil  Profesion Estudios_Univ Tiene_Auto Compra
IdCliente
1               Casado  Empresari            Si         No     No
2               Casado  Empresari            Si         Si     No
3                  NaN  Empresari            Si        NaN     Si
4                Viudo   Desemple            Si         No     Si
5                Viudo   Empleado            No         No     Si
6                Viudo        NaN            No         Si     No
7              Soltero   Empleado            No         Si     Si
8               Casado   Desemple            Si         No     No
9               Casado   Empleado            No         No     Si
10               Viudo   Desemple            No        NaN     Si
11                 NaN   Desemple            No         Si     Si
12             Soltero   Desemple            Si         Si     No
13             Soltero  Empresari            No         No     Si
14               Viudo   Desemple            Si        NaN     No

In [ ]:
# With which values to resubmit categorical data?
# - Unknown
# - Previous or next row values

In [38]:
compras.Profesion.fillna('Descoñecido', inplace=True)
compras

          Estado_Civil    Profesion Estudios_Univ Tiene_Auto Compra
IdCliente
1               Casado    Empresari            Si         No     No
2               Casado    Empresari            Si         Si     No
3                  NaN    Empresari            Si        NaN     Si
4                Viudo     Desemple            Si         No     Si
5                Viudo     Empleado            No         No     Si
6                Viudo  Descoñecido            No         Si     No
7              Soltero     Empleado            No         Si     Si
8               Casado     Desemple            Si         No     No
9               Casado     Empleado            No         No     Si
10               Viudo     Desemple            No        NaN     Si
11                 NaN     Desemple            No         Si     Si
12             Soltero     Desemple            Si         Si     No
13             Soltero    Empresari            No         No     Si
14               Viudo     Desemple            Si        NaN     No

In [39]:
# replacement with values from the previous row
compras_anterior = compras.fillna(method='ffill')
compras_anterior

/tmp/ipykernel_2729/609630730.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  compras_anterior = compras.fillna(method='ffill')

          Estado_Civil    Profesion Estudios_Univ Tiene_Auto Compra
IdCliente
1               Casado    Empresari            Si         No     No
2               Casado    Empresari            Si         Si     No
3               Casado    Empresari            Si         Si     Si
4                Viudo     Desemple            Si         No     Si
5                Viudo     Empleado            No         No     Si
6                Viudo  Descoñecido            No         Si     No
7              Soltero     Empleado            No         Si     Si
8               Casado     Desemple            Si         No     No
9               Casado     Empleado            No         No     Si
10               Viudo     Desemple            No         No     Si
11               Viudo     Desemple            No         Si     Si
12             Soltero     Desemple            Si         Si     No
13             Soltero    Empresari            No         No     Si
14               Viudo     Desemple            Si         No     No

In [40]:
# replacement with values from the following row
compras_seguinte = compras.fillna(method='bfill')
compras_seguinte
# watch out for the last row!

/tmp/ipykernel_2729/2587583112.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  compras_seguinte = compras.fillna(method='bfill')

          Estado_Civil    Profesion Estudios_Univ Tiene_Auto Compra
IdCliente
1               Casado    Empresari            Si         No     No
2               Casado    Empresari            Si         Si     No
3                Viudo    Empresari            Si         No     Si
4                Viudo     Desemple            Si         No     Si
5                Viudo     Empleado            No         No     Si
6                Viudo  Descoñecido            No         Si     No
7              Soltero     Empleado            No         Si     Si
8               Casado     Desemple            Si         No     No
9               Casado     Empleado            No         No     Si
10               Viudo     Desemple            No         Si     Si
11             Soltero     Desemple            No         Si     Si
12             Soltero     Desemple            Si         Si     No
13             Soltero    Empresari            No         No     Si
14               Viudo     Desemple            Si        NaN     No