# Exercise 6. Missing values. Solution

In [ ]:
# Import libraries
# Importar bibliotecas

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Load de titanic dataset
# Cargar el conjunto de datos del Titanic

In [2]:
df_titanic = pd.read_csv('../datasets/titanic.csv')
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [ ]:
# Check the types of variables in the dataset and see if there are null values
# Verifique los tipos de variables en el conjunto de datos y vea si hay valores nulos

In [ ]:
# Shows the number of null values per variable
# Muestra el número de valores nulos por variable

In [ ]:
# Create a new dataset that does not have rows with null values (delete rows)
# Cree un nuevo conjunto de datos que no tenga filas con valores nulos (elimine filas)

In [ ]:
# Calculate the number of deleted rows 
# Calcular el número de filas eliminadas

In [ ]:
# Create a new dataset without columns with more than 10 nulls
# Cree un nuevo conjunto de datos sin columnas con más de 10 nulos

In [ ]:
# Calculates the number of deleted columns
# Calcula el número de columnas eliminadas

In [ ]:
# Create a new dataset from the original one with the following changes:
# Replace the null values in the age column ('Age') by the average of the ages in the rest of the dataset.
# Replace null values in the variable "Embarked" by the most frequent value in the variable
# Eliminates columns with null values

In [ ]:
# Cree un nuevo conjunto de datos a partir del original con los siguientes cambios:
# Reemplace los valores nulos en la columna de edad ("Edad") por el promedio de las edades en el resto del conjunto de datos.
# Reemplazar valores nulos en la variable "Embarcado" por el valor más frecuente en la variable
# Elimina columnas con valores nulos

In [ ]:
# Load or a dataset with missing values with data on travel-times
# https://openmv.net/info/travel-times
# datasets <- travel-times.csv

In [ ]:
# Cargar o un conjunto de datos con valores faltantes con datos sobre tiempos de viaje
# https://openmv.net/info/travel-times
# conjuntos de datos <- tiempos-de-viaje.csv

In [ ]:
# Show data types
# Mostrar tipos de datos

In [ ]:
# Show number of null values
# Mostrar número de valores nulos

In [ ]:
# Eliminates columns with more than half of nulls
# Elimina columnas con más de la mitad de nulos

In [ ]:
# Replace the null values using the value of the previous row.
# Check if the result was as expected

In [ ]:
# Reemplazar los valores nulos usando el valor de la fila anterior.
# Comprobar si el resultado fue el esperado