# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [1]:
#import pandas library
#importar libraría pandas
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [2]:
!conda env list

# conda environments:
#
base                     /home/xuwira30/miniconda3
sistemas              *  /home/xuwira30/miniconda3/envs/sistemas

In [2]:
# Load XLS file (from local filesystem)

#df = pd.read_excel('../datasets/sample_superstore.xls')
ficheiro = '../datasets/sample_superstore.xls'
#df = pd.read_excel(ficheiro,sheet_name=1)
df = pd.read_excel(ficheiro,sheet_name='Orders')

In [3]:
# Load XLS file (from local filesystem)
df = pd.read_excel('../datasets/sample_superstore.xls')

In [4]:
# Load XLS file (from GitHub repo)
url = 'https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls'
df = pd.read_excel(url,sheet_name='Orders')

In [6]:
# Cargar ficheiro XLS (dispoñible en repositorio GitHub)
df = pd.read_excel('https://github.com/bigdatawirtz/sistemas-bigdata-2023/raw/main/datasets/sample_superstore.xls', 'Orders')

In [7]:
# show DataFrame
# mostrar o dataframe
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [8]:
# Show the 3 first rows filas
# Mostra as 3 primeiras fils
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [9]:
df.iloc[0:3]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [10]:
# Show 5 random rows
# Mostra 5 filas aletaorias
df.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
404,405,CA-2017-117933,2017-12-24,2017-12-29,Standard Class,RF-19840,Roy Französisch,Consumer,United States,New York City,...,10024,East,OFF-AP-10004249,Office Supplies,Appliances,Staple holder,35.91,3,0.0,9.6957
6584,6585,CA-2017-104731,2017-07-21,2017-07-27,Standard Class,AM-10705,Anne McFarland,Consumer,United States,Salem,...,24153,South,TEC-PH-10002660,Technology,Phones,Nortel Networks T7316 E Nt8 B27,271.96,4,0.0,67.9900
9348,9349,CA-2016-114860,2016-12-22,2016-12-28,Standard Class,DN-13690,Duane Noonan,Consumer,United States,Moreno Valley,...,92553,West,FUR-FU-10000277,Furniture,Furnishings,Deflect-o DuraMat Antistatic Studded Beveled M...,842.72,8,0.0,202.2528
6579,6580,CA-2016-169887,2016-10-22,2016-10-22,Same Day,MS-17530,MaryBeth Skach,Consumer,United States,Seattle,...,98105,West,OFF-PA-10003001,Office Supplies,Paper,Xerox 1986,6.68,1,0.0,3.2064
643,644,CA-2017-106103,2017-06-10,2017-06-15,Standard Class,SC-20305,Sean Christensen,Consumer,United States,Rochester Hills,...,48307,Central,TEC-AC-10003832,Technology,Accessories,Imation 16GB Mini TravelDrive USB 2.0 Flash Drive,132.52,4,0.0,54.3332

In [11]:
df.sample(n = 5) # sample() Devuelve registro seleccionado de forma aleatoria

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2152,2153,CA-2015-123505,2015-11-22,2015-11-26,Standard Class,AR-10540,Andy Reiter,Consumer,United States,Quincy,...,2169,East,OFF-PA-10002586,Office Supplies,Paper,Xerox 1970,14.940,3,0.0,7.0218
9511,9512,CA-2014-130575,2014-12-14,2014-12-16,First Class,CS-11845,Cari Sayre,Corporate,United States,Chicago,...,60623,Central,OFF-BI-10002353,Office Supplies,Binders,GBC VeloBind Cover Sets,9.264,3,0.8,-13.8960
881,882,CA-2015-129098,2015-10-09,2015-10-13,Standard Class,DK-13090,Dave Kipp,Consumer,United States,Springfield,...,22153,South,OFF-ST-10001321,Office Supplies,Storage,"Decoflex Hanging Personal Folder File, Blue",30.840,2,0.0,8.3268
9819,9820,CA-2015-162201,2015-06-08,2015-06-12,Standard Class,AG-10495,Andrew Gjertsen,Corporate,United States,Saint Petersburg,...,33710,South,OFF-LA-10001982,Office Supplies,Labels,Smead Alpha-Z Color-Coded Name Labels First Le...,9.000,3,0.2,3.1500
3940,3941,CA-2017-117863,2017-05-18,2017-05-23,Standard Class,TS-21340,Toby Swindell,Consumer,United States,New York City,...,10024,East,FUR-FU-10002456,Furniture,Furnishings,"Master Caster Door Stop, Large Neon Orange",14.560,2,0.0,6.2608

In [12]:
# From the last 10 rows, show the 5 first ones
# Das dez últimas filas mostra as 5 primeiras
df.tail(10).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.50,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.60,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.10,5,0.0,55.6470

In [14]:
df.iloc[-10:-5]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.50,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.60,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.10,5,0.0,55.6470

In [13]:
# Show 3 random rows from the first 50 ones
# Mostra 3 das 50 primeiras filas
df.head(50).sample(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
44,45,CA-2016-118255,2016-03-11,2016-03-13,First Class,ON-18715,Odella Nelson,Corporate,United States,Eagan,...,55122,Central,TEC-AC-10000171,Technology,Accessories,Verbatim 25 GB 6x Blu-ray Single Layer Recorda...,45.9800,2,0.00,19.7714
38,39,CA-2015-117415,2015-12-27,2015-12-31,Standard Class,SN-20710,Steve Nguyen,Home Office,United States,Houston,...,77041,Central,FUR-BO-10002545,Furniture,Bookcases,"Atlantic Metals Mobile 3-Shelf Bookcases, Cust...",532.3992,3,0.32,-46.9764
34,35,CA-2017-107727,2017-10-19,2017-10-23,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,...,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.4720,3,0.20,9.9468

In [15]:
# Show info about column data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [16]:
# Show the next info
# 
# zip code type: 
# int
# Discount type: 
# float
# Country data type: 
# object -> string

In [19]:
# zip code type: 
type(df['Postal Code'][0])

numpy.int64

In [20]:
# Discount type: 
type(df['Discount'][0])

numpy.float64

In [21]:
# Country data type: 
type(df['Country'][0])

str

In [17]:
# Show column names
# Mostra os nomes das columnas
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [18]:
df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'], dtype=object)

In [22]:
# Select and show 5 different random cities
# Selección de 5 cidades aleatorias
df.City.sample(5)

2707         Carlsbad
718              Orem
6681          Meriden
5356    San Francisco
8229             Troy
Name: City, dtype: object

In [23]:
df['City'].sample(5)

1109     Houston
6769    Columbus
3818      Mobile
887     Columbia
8228        Troy
Name: City, dtype: object

In [24]:
# Show the different countries that appear in the data
# Mostra os diferentes países que aparecen nos datos
df.Country.unique()

array(['United States'], dtype=object)

In [26]:
df['Country'].unique()

array(['United States'], dtype=object)

In [27]:
# Show the different categories
# Mostra as diferentes categorías
df.Category.unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [28]:
# Show the different categories
df['Category'].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [29]:
# Select client id, name and city
# Selección de id de cliente, nome e cidade
df[['Customer ID', 'Customer Name', 'City']]

     Customer ID     Customer Name             City
0       CG-12520       Claire Gute        Henderson
1       CG-12520       Claire Gute        Henderson
2       DV-13045   Darrin Van Huff      Los Angeles
3       SO-20335    Sean O'Donnell  Fort Lauderdale
4       SO-20335    Sean O'Donnell  Fort Lauderdale
...          ...               ...              ...
9989    TB-21400  Tom Boeckenhauer            Miami
9990    DB-13060       Dave Brooks       Costa Mesa
9991    DB-13060       Dave Brooks       Costa Mesa
9992    DB-13060       Dave Brooks       Costa Mesa
9993    CC-12220      Chris Cortes      Westminster

[9994 rows x 3 columns]

In [30]:
# Select Order ID (as Dataframe)
# Selección de IDs de pedido (como Dataframe)
df[['Order ID']]

            Order ID
0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
...              ...
9989  CA-2014-110422
9990  CA-2017-121258
9991  CA-2017-121258
9992  CA-2017-121258
9993  CA-2017-119914

[9994 rows x 1 columns]

In [31]:
# Count elements in Series "Region"
# Contar elementos totais da serie "Region"
df.Region.count()

9994

In [32]:
df['Region'].count()

9994

In [33]:
# Show elementes from "Region" Series
# Mostrar elementos da serie "Region"
df.Region.unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [34]:
df['Region'].unique()

array(['South', 'West', 'Central', 'East'], dtype=object)

In [35]:
# Count different elements in Series "Region"
# Contar elementos diferentes da serie "Region"
df['Region'].value_counts()

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [36]:
len(df.Region.unique())

4

In [37]:
# Create a Series with quantities in each order line and show the result
# Crea unha serie cas cantidades de cada liña de pedido e mostra o resultado
cantidades = df.Quantity
cantidades

0       2
1       3
2       2
3       5
4       2
       ..
9989    3
9990    2
9991    2
9992    4
9993    2
Name: Quantity, Length: 9994, dtype: int64

In [39]:
# Show the lines with quantities greater than 2
# Mostra só as liñas do dataframe que conteñan liñas de pedido con cantidades maiores que 2
df[df['Quantity'] > 2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200

In [41]:
# Show only the DataFrame lines with subcategory  "Tables"
# Mostra só as liñas do dataframe que conteñan liñas de pedido da subcategoría de mesas "Tables"
df[df['Sub-Category'] == 'Tables']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
24,25,CA-2015-106320,2015-09-25,2015-09-30,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649
117,118,CA-2015-110457,2015-03-02,2015-03-06,Standard Class,DK-13090,Dave Kipp,Consumer,United States,Seattle,...,98103,West,FUR-TA-10001768,Furniture,Tables,Hon Racetrack Conference Tables,787.5300,3,0.00,165.3813
125,126,US-2014-134614,2014-09-20,2014-09-25,Standard Class,PF-19165,Philip Fox,Consumer,United States,Bloomington,...,61701,Central,FUR-TA-10004534,Furniture,Tables,Bevis 44 x 96 Conference Tables,617.7000,6,0.50,-407.6820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9857,9858,CA-2015-164301,2015-03-26,2015-03-30,Standard Class,EB-13840,Ellis Ballard,Corporate,United States,Seattle,...,98103,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,3393.6800,8,0.00,610.8624
9899,9900,US-2014-117380,2014-03-28,2014-04-03,Standard Class,MP-18175,Mike Pelletier,Home Office,United States,Springfield,...,45503,East,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,330.5880,1,0.40,-143.2548
9937,9938,CA-2016-164889,2016-06-03,2016-06-06,Second Class,CP-12340,Christine Phan,Corporate,United States,Los Angeles,...,90049,West,FUR-TA-10001676,Furniture,Tables,Hon 61000 Series Interactive Training Tables,71.0880,2,0.20,-1.7772
9955,9956,CA-2015-141593,2015-12-14,2015-12-16,Second Class,DB-12970,Darren Budd,Corporate,United States,Los Angeles,...,90045,West,FUR-TA-10002622,Furniture,Tables,"Bush Andora Conference Table, Maple/Graphite G...",273.5680,2,0.20,10.2588
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548

In [43]:
# Show the cities with orders including "Tables"
# Mostra as cidades con pedidos que inclúen mesas
df[df['Sub-Category'] == 'Tables'].City.unique()

array(['Fort Lauderdale', 'Los Angeles', 'Orem', 'Seattle', 'Bloomington',
       'Denver', 'Detroit', 'Tampa', 'Chicago', 'San Francisco',
       'Franklin', 'Pembroke Pines', 'Akron', 'Phoenix', 'Memphis',
       'Arlington', 'Long Beach', 'Oceanside', 'San Diego',
       'Jacksonville', 'Edmonds', 'San Antonio', 'Torrance', 'Mesa',
       'Philadelphia', 'New York City', 'Saint Peters', 'Yonkers',
       'Springfield', 'Harrisonburg', 'Fresno', 'Provo', 'Aurora',
       'Columbus', 'Vineland', 'North Las Vegas', 'Dublin', 'Muskogee',
       'Spokane', 'Fairfield', 'Miami', 'Pomona', 'Wilmington',
       'Rochester', 'Southaven', 'Louisville', 'Passaic', 'Houston',
       'Bellingham', 'Wheeling', 'Milwaukee', 'Encinitas', 'Allen',
       'Pasadena', 'Oakland', 'Quincy', 'Bristol', 'Charlotte',
       'Lancaster', 'Dallas', 'Jackson', 'Greensboro', 'Mobile', 'Boise',
       'Cranston', 'Redmond', 'Henderson', 'Mentor', 'Lawton',
       'Providence', 'Colorado Springs', 'Burlington', 'Medina',
       'Knoxville', 'Tucson', 'Chesapeake', 'Salem', 'Marion',
       'Buffalo Grove', 'Richmond', 'Conway', 'Anaheim', 'Decatur',
       'Tulsa', 'Minneapolis', 'Lakewood', 'Plano', 'Lawrence',
       'Texas City', 'Lorain', 'Gilbert', 'Virginia Beach', 'Montgomery',
       'Santa Ana', 'Concord', 'Des Plaines', 'Toledo', 'Dover',
       'Newport News', 'Everett', 'Suffolk', 'Clinton', 'Des Moines',
       'Pharr', 'Morgan Hill', 'Chico', 'Lakeland', 'Baltimore',
       'Daytona Beach', 'Bakersfield', 'El Paso', 'Noblesville',
       'Mansfield', 'Nashville', 'Twin Falls', 'Rockford', 'Huntsville',
       'Columbia', 'Chandler', 'Lafayette', 'Troy', 'Broken Arrow'],
      dtype=object)

In [44]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.
# Crea unha variable de tipo Series coas cidades con pedidos que inclúen mesas e mostra 5 filas aleatorias
cidades_que_piden_mesas = pd.Series(df[df['Sub-Category'] == 'Tables'].City.unique())
cidades_que_piden_mesas.sample(5)

92     Montgomery
3         Seattle
34       Vineland
32         Aurora
103         Pharr
dtype: object

In [46]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.
# Crea unha variable de tipo Dataframe coas cidades con pedidos que inclúen sillas e mostra as 3 últimas
cidades_que_piden_mesas = pd.DataFrame(df[df['Sub-Category'] == 'Chairs'].City.unique(),columns=['cidade'])
cidades_que_piden_mesas.tail(3)

            cidade
192  Santa Barbara
193          Bryan
194   Indianapolis

In [47]:
# Show all the order lines including Phones to 'Los Angeles'
# Mostra todas as liñas de pedido de teléfonos (Phones) para 'Los Angeles'
df[(df['Sub-Category'] == 'Phones') & (df['City'] == 'Los Angeles')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
11,12,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.424,4,0.2,68.3568
90,91,CA-2016-109806,2016-09-17,2016-09-22,Standard Class,JS-15685,Jim Sink,Corporate,United States,Los Angeles,...,90036,West,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,73.584,2,0.2,8.2782
218,219,CA-2016-130162,2016-10-28,2016-11-01,Standard Class,JH-15910,Jonathan Howell,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002563,Technology,Phones,Adtran 1202752G1,302.376,3,0.2,22.6782
477,478,CA-2016-103891,2016-07-12,2016-07-19,Standard Class,KH-16690,Kristen Hastings,Corporate,United States,Los Angeles,...,90008,West,TEC-PH-10000149,Technology,Phones,Cisco SPA525G2 IP Phone - Wireless,95.760,6,0.2,7.1820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9234,9235,CA-2016-126732,2016-09-02,2016-09-06,Standard Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,90036,West,TEC-PH-10001530,Technology,Phones,Cisco Unified IP Phone 7945G VoIP phone,1091.168,4,0.2,68.1980
9454,9455,CA-2015-129546,2015-09-28,2015-10-05,Standard Class,RP-19855,Roy Phan,Corporate,United States,Los Angeles,...,90032,West,TEC-PH-10003555,Technology,Phones,Motorola HK250 Universal Bluetooth Headset,36.784,2,0.2,-8.2764
9764,9765,CA-2014-123855,2014-06-18,2014-06-23,Standard Class,MC-18100,Mick Crebagga,Consumer,United States,Los Angeles,...,90036,West,TEC-PH-10000215,Technology,Phones,Plantronics Cordless Phone Headset with In-lin...,139.800,5,0.2,12.2325
9973,9974,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10004080,Technology,Phones,Avaya 5410 Digital phone,271.960,5,0.2,27.1960
9976,9977,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10002496,Technology,Phones,Cisco SPA301,249.584,2,0.2,31.1980

In [48]:
# Show 10 random order lines with Phones or Tables
# Mostra 10 liñas exemplo de pedido de teléfonos (Phones) ou mesas (Tables)
df[(df['Sub-Category'] == 'Phones') | (df['Sub-Category'] == 'Tables')].sample(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
8958,8959,CA-2017-150266,2017-11-25,2017-11-30,Standard Class,RO-19780,Rose O'Brian,Consumer,United States,Houston,...,77070,Central,TEC-PH-10003437,Technology,Phones,Blue Parrot B250XT Professional Grade Wireless...,299.960,5,0.2,37.4950
5487,5488,CA-2017-134495,2017-04-01,2017-04-04,Second Class,BF-11020,Barry Französisch,Corporate,United States,Jacksonville,...,32216,South,TEC-PH-10004897,Technology,Phones,Mediabridge Sport Armband iPhone 5s,23.976,3,0.2,-5.6943
486,487,CA-2017-140963,2017-06-10,2017-06-13,First Class,MT-18070,Michelle Tran,Home Office,United States,Los Angeles,...,90045,West,TEC-PH-10001924,Technology,Phones,iHome FM Clock Radio with Lightning Dock,279.960,5,0.2,17.4975
6578,6579,CA-2014-103660,2014-08-25,2014-08-30,Standard Class,MW-18220,Mitch Webber,Consumer,United States,Seattle,...,98103,West,TEC-PH-10000895,Technology,Phones,Polycom VVX 310 VoIP phone,1007.944,7,0.2,75.5958
1750,1751,CA-2015-139094,2015-11-22,2015-11-27,Standard Class,MO-17800,Meg O'Connel,Home Office,United States,San Antonio,...,78207,Central,FUR-TA-10004607,Furniture,Tables,Hon 2111 Invitation Series Straight Table,206.962,2,0.3,-32.5226
7409,7410,CA-2014-121769,2014-04-08,2014-04-12,Standard Class,JS-15880,John Stevenson,Consumer,United States,Toledo,...,43615,East,FUR-TA-10004442,Furniture,Tables,Riverside Furniture Stanwyck Manor Table Series,172.110,1,0.4,-94.6605
5062,5063,CA-2015-136798,2015-05-08,2015-05-12,Standard Class,DL-12925,Daniel Lacy,Consumer,United States,Minneapolis,...,55407,Central,TEC-PH-10000441,Technology,Phones,VTech DS6151,377.970,3,0.0,105.8316
5009,5010,CA-2015-102876,2015-09-07,2015-09-14,Standard Class,LR-17035,Lisa Ryan,Corporate,United States,Philadelphia,...,19134,East,TEC-PH-10002680,Technology,Phones,Samsung Galaxy Note 3,791.964,6,0.4,-131.9940
4056,4057,CA-2014-122931,2014-09-29,2014-10-03,Standard Class,SM-20950,Suzanne McNair,Corporate,United States,Philadelphia,...,19134,East,FUR-TA-10004147,Furniture,Tables,Hon 4060 Series Tables,67.176,1,0.4,-20.1528
9391,9392,CA-2017-162474,2017-03-13,2017-03-16,First Class,FH-14275,Frank Hawley,Corporate,United States,Aurora,...,60505,Central,TEC-PH-10004700,Technology,Phones,PowerGen Dual USB Car Charger,7.992,1,0.2,2.5974

In [49]:
# Select the second row of the dataframe
# Selecciona a segunda fila do dataframe
df.iloc[[1]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.582

In [50]:
# Select the third, seventh and 24 row of the dataset
# Selecciona a terceira, séptima e vixésima cuarta fila
df.iloc[[2,6,23]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620,2,0.0,6.8714
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.280,4,0.0,1.9656
23,24,US-2017-156909,2017-07-16,2017-07-18,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196

In [52]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region
# crea un dataframe (vendas) co nome de cliente, cidade, nome do produto e cantidade comprada da rexión oeste
sales = df[df.Region == 'West'][['Customer Name','City','Product Name']]
sales

,Customer Name,City,Product Name
2,Darrin Van Huff,Los Angeles,Self-Adhesive Address Labels for Typewriters b...
5,Brosina Hoffman,Los Angeles,Eldon Expressions Wood and Plastic Desk Access...
6,Brosina Hoffman,Los Angeles,Newell 322
7,Brosina Hoffman,Los Angeles,Mitel 5320 IP Phone VoIP phone
8,Brosina Hoffman,Los Angeles,DXL Angle-View Binders with Locking Rings by S...
...,...,...,...
9986,Maris LaWare,Los Angeles,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...
9990,Dave Brooks,Costa Mesa,Tenex B1-RE Series Chair Mats for Low Pile Car...
9991,Dave Brooks,Costa Mesa,Aastra 57i VoIP phone
9992,Dave Brooks,Costa Mesa,"It's Hot Message Books with Stickers, 2 3/4"" x 5"""
9993,Chris Cortes,Westminster,"Acco 7-Outlet Masterpiece Power Center, Wihtou..."

In [53]:
# Select the second row from the previous DataFrame (sales) using position
# Seleccionar a segunda fila do dataframe anterior (vendas) atendendendo á posición
sales.iloc[[1]]

,Customer Name,City,Product Name
5,Brosina Hoffman,Los Angeles,Eldon Expressions Wood and Plastic Desk Access...

In [54]:
# Select the second row from the previous DataFrame (sales) using index
# Seleccionar a segunda fila de vendas atendendo ao index (mira o dataframe)
sales.loc[[5]]

,Customer Name,City,Product Name
5,Brosina Hoffman,Los Angeles,Eldon Expressions Wood and Plastic Desk Access...

In [55]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame
# Pensa se hai algunha columna no ficheiro excel que puidese funcionar como index e volve cargar o dataframe 
df = pd.read_excel(ficheiro,index_col='Row ID',sheet_name='Orders')
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [56]:
# Select the fifth row
# Seleccionar a quinta fila
df.iloc[[4]]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164

In [57]:
# Select rows from the third to the seventh one
# Seleccionar as filas desde a terceira á séptima
df.iloc[2:7]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656

In [58]:
# Selecdt penultimate row
# Seleccionar a penúltima fila
df.iloc[[-2]]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6,4,0.0,13.32

In [60]:
# Select, given the last 5 rows, all but the last one.
# Seleccionar, das 5 últimas filas, todas menos a última
df.iloc[-5:-1]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200

In [ ]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# conda install openpyxl
# Write to XLS all the sales in the State of California
# Escritura dun ficheiro XLS coas vendas no estado de California
vendas_california = df[df['State'] == 'California']
vendas_california.to_excel('output/vendas_california.xlsx')

In [ ]:
# Give a name to the sheet ('California')
# Darlle un nome á folla ('California')
vendas_california.to_excel('output/vendas_california.xlsx',sheet_name='California')

In [ ]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row

# Garda as filas de vendas da zona oeste ou sur. Desas filas garda unicamente nome do produto, identificador, cantidade e desconto. Garda o resultado nun ficheiro vendas_WS.xlsx
# Intenta facelo todo nunha única liña
df[(df.Region == 'West') | (df.Region == 'South')][['Product Name','Product ID','Quantity','Discount']].to_excel('output/vendas_WS.xlsx')