# Práctica SQL en Database Employees

Asegúrate de que tes acceso a un servidor de mysql/mariadb no que estea instalada a base de datos de exemplo: employees

In [4]:
# Instalación de librarías
# conda install ....y
# ipython-sql -> para ter as maxias: %sql e %%sql
# pymysql -> driver mysql
# pandas

In [1]:
# load the ipython-sql extension
%load_ext sql

In [ ]:
# Grazas a ipython-sql podes utilizar os comandos máxicos: %sql e %%sql
# Utiliza %sql para consultas single-line
# Utilizar%%sql para consultas multi-line

Define o nome de usuario e o enderezo do servidor web. Ollo ao prompt cando che pide o contrasinal.

In [2]:
import getpass
# define user & password
user = 'nome_usuario'
password = getpass.getpass()   # ollo ao contrasinal cando o pida
connection_string = f'mysql+pymysql://{user}:{password}@localhost:3306/employees'
%sql $connection_string

In [1]:
import getpass
# define user & password
user = 'user'
password = getpass.getpass()   # ollo ao contrasinal cando o pida
connection_string = f'mysql+pymysql://{user}:{password}@192.168.33.20:3306/employees'
%sql $connection_string

UsageError: Line magic function `%sql` not found.

In [2]:
# fixamos o límite a 10 liñas default á hora de mostrar os resultados
%config SqlMagic.displaylimit=10

## Employees Database Schema

![schema](https://dev.mysql.com/doc/employee/en/images/employees-schema.png)

In [ ]:
# Mostrar lista de empregados
# Só 10 liñas pola configuración anterior

In [3]:
%%sql
SELECT * FROM employees;

UsageError: Cell magic `%%sql` not found.

In [ ]:
# Mostrar nomes completos dos empregados

In [4]:
%%sql
SELECT CONCAT(first_name, ' ', last_name) AS emp_name
FROM employees;

UsageError: Cell magic `%%sql` not found.

In [ ]:
# Mostrar os 10 salarios máis altos

In [5]:
%%sql
SELECT salary
FROM salaries
ORDER BY salary DESC
LIMIT 10

UsageError: Cell magic `%%sql` not found.

In [ ]:
# Mostrar o salario máximo, o mínimo e a media.

In [ ]:
%%sql
SELECT
    MAX(salary),
    MIN(salary),
    AVG(salary)
FROM salaries

In [ ]:
# assign to variable (single-line)
top_10_salaries = %sql SELECT salary FROM salaries ORDER BY salary DESC LIMIT 10

# construct Pandas DataFrame
df = top_10_salaries.DataFrame()

In [ ]:
df

In [ ]:
# assign to variable (multi-line)

In [ ]:
%%sql top_10_salaries <<
SELECT salary
FROM salaries
ORDER BY salary DESC
LIMIT 10

# construct Pandas DataFrame
df = top_10_salaries.DataFrame()

In [ ]:
df

In [ ]:
# Enlaces de referencia
# https://python.plainenglish.io/how-to-run-and-analyze-sql-queries-with-pandas-in-jupyter-7f02503cf46
# https://nbviewer.jupyter.org/github/corralm/medium-posts/blob/master/SQL_Jupyter_Pandas.ipynb

In [ ]:
# 
%sql SELECT MAX(custoBasico) sumatorio From materia

In [ ]:
# 
%sql SELECT MAX(custoBasico) sumatorio From materia

In [ ]:
# 
%sql SELECT MAX(custoBasico) sumatorio From materia

In [ ]:
# 
%sql SELECT MAX(custoBasico) sumatorio From materia

In [ ]:
# Sumar las materias
%sql SELECT SUM(custoBasico) sumatorio From materia

In [ ]:
# Materias más caras, 3
%sql SELECT nome, custoBasico From materia ORDER BY custoBasico DESC LIMIT 3

In [ ]:
#
%sql SELECT 
max(custoBasico) MAX,
min(custoBasico) MAX,

In [ ]:
# Materias más baratas, 3
%sql SELECT nome, custoBasico From materia ORDER BY custoBasico ASC LIMIT 3

In [ ]:
# 
%sql SELECT count(DISTINCT(creditos)) posibilidades FROM materia

In [ ]:
# Cuantos currsos hay
%sql SELECT COUNT(distinct curso) from materia where curso!='' # curso<>''

In [ ]:
# Cuantas ciudaes y nombres distintos hay
%sql SELECT 
COUNT(distinct nome) NOMES, 
count(distinct cidade) CIDADES,
from persoa

In [ ]:
# Nombre y creditos de las asignaturas del primer cuatrimestre
%sql 
SELECT 
nome, creditos
FROM
materia
WHERE
cuadrimestre = 1

In [ ]:
# 
%sql 
SELECT 
nome
FROM
materia
WHERE
custoBasico > 25 AND custoBasico <50

In [ ]:
# 
SELECT 
nome
FROM
materia
WHERE
custoBasico BETWEEN 25 AND 50