### Dataframes, Spark SQL e Parquet - practica

In [13]:
# Carga o ficheiro purchases.txt desde o sistema de ficheiros local

In [1]:
df = spark.read.csv('file:///home/hduser/Descargas/purchases.txt',sep='\t')

In [2]:
df.show()

+----------+-----+--------------+--------------------+------+----------+
|       _c0|  _c1|           _c2|                 _c3|   _c4|       _c5|
+----------+-----+--------------+--------------------+------+----------+
|2012-01-01|09:00|      San Jose|      Men's Clothing|214.05|      Amex|
|2012-01-01|09:00|    Fort Worth|    Women's Clothing|153.57|      Visa|
|2012-01-01|09:00|     San Diego|               Music| 66.08|      Cash|
|2012-01-01|09:00|    Pittsburgh|        Pet Supplies|493.51|  Discover|
|2012-01-01|09:00|         Omaha| Children's Clothing|235.63|MasterCard|
|2012-01-01|09:00|      Stockton|      Men's Clothing|247.18|MasterCard|
|2012-01-01|09:00|        Austin|             Cameras| 379.6|      Visa|
|2012-01-01|09:00|      New York|Consumer Electronics| 296.8|      Cash|
|2012-01-01|09:00|Corpus Christi|                Toys| 25.38|  Discover|
|2012-01-01|09:00|    Fort Worth|                Toys|213.88|      Visa|
|2012-01-01|09:00|     Las Vegas|         Video Games| 53.26|      Visa|
|2012-01-01|09:00|        Newark|         Video Games| 39.75|      Cash|
|2012-01-01|09:00|        Austin|             Cameras|469.63|MasterCard|
|2012-01-01|09:00|    Greensboro|                DVDs|290.82|MasterCard|
|2012-01-01|09:00| San Francisco|               Music|260.65|  Discover|
|2012-01-01|09:00|       Lincoln|              Garden| 136.9|      Visa|
|2012-01-01|09:00|       Buffalo|    Women's Clothing|483.82|      Visa|
|2012-01-01|09:00|      San Jose|    Women's Clothing|215.82|      Cash|
|2012-01-01|09:00|        Boston|             Cameras|418.94|      Amex|
|2012-01-01|09:00|       Houston|                Baby|309.16|      Visa|
+----------+-----+--------------+--------------------+------+----------+
only showing top 20 rows

In [3]:
# De xeito predeterminado, read.csv, identifica todos os campos como texto
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [12]:
# Podemos utilizar a opción 'inferSchema' para que pyspark intente determinar os tipos de datos
df = spark.read.csv('file:///home/hduser/Descargas/purchases.txt',sep='\t',inferSchema=True)
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: string (nullable = true)

In [5]:
# Hai varias maneiras de indicar os nomes das columnas
df = spark.read.csv('file:///home/hduser/Descargas/purchases.txt',sep='\t')
df = df.toDF('data','hora','tenda','categoria','venda','pago')
df.printSchema()

root
 |-- data: string (nullable = true)
 |-- hora: string (nullable = true)
 |-- tenda: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- venda: string (nullable = true)
 |-- pago: string (nullable = true)

In [6]:
# Existen tamén diferentes maneiras de mudar o tipo das columnas de xeito explícito
# algúns tipos: int, float, double, date...
# Referencia aos datatypes
# https://spark.apache.org/docs/latest/sql-ref-datatypes.html
# Un dos métodos é utilizar 'withColumn', que serve para tranformar unha columna
# Neste caso engadimos un 'cast' a float para a columna vendas
df = df.withColumn('venda',df.venda.cast('float'))
df.printSchema()

root
 |-- data: string (nullable = true)
 |-- hora: string (nullable = true)
 |-- tenda: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- venda: float (nullable = true)
 |-- pago: string (nullable = true)

In [7]:
df = df.withColumn('data',df.data.cast('date'))
df.printSchema()

root
 |-- data: date (nullable = true)
 |-- hora: string (nullable = true)
 |-- tenda: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- venda: float (nullable = true)
 |-- pago: string (nullable = true)

In [66]:
# Non hai unha maneira directa de traballar con datatype específico para 'hora'

In [8]:
# Crea unha táboa sobre o dataframe para poder realizar consultas SQL

In [9]:
df.createOrReplaceTempView('compras')

In [10]:
# Mostra os datos do dataframe

In [11]:
df.show()

+----------+-----+--------------+--------------------+------+----------+
|      data| hora|         tenda|           categoria| venda|      pago|
+----------+-----+--------------+--------------------+------+----------+
|2012-01-01|09:00|      San Jose|      Men's Clothing|214.05|      Amex|
|2012-01-01|09:00|    Fort Worth|    Women's Clothing|153.57|      Visa|
|2012-01-01|09:00|     San Diego|               Music| 66.08|      Cash|
|2012-01-01|09:00|    Pittsburgh|        Pet Supplies|493.51|  Discover|
|2012-01-01|09:00|         Omaha| Children's Clothing|235.63|MasterCard|
|2012-01-01|09:00|      Stockton|      Men's Clothing|247.18|MasterCard|
|2012-01-01|09:00|        Austin|             Cameras| 379.6|      Visa|
|2012-01-01|09:00|      New York|Consumer Electronics| 296.8|      Cash|
|2012-01-01|09:00|Corpus Christi|                Toys| 25.38|  Discover|
|2012-01-01|09:00|    Fort Worth|                Toys|213.88|      Visa|
|2012-01-01|09:00|     Las Vegas|         Video Games| 53.26|      Visa|
|2012-01-01|09:00|        Newark|         Video Games| 39.75|      Cash|
|2012-01-01|09:00|        Austin|             Cameras|469.63|MasterCard|
|2012-01-01|09:00|    Greensboro|                DVDs|290.82|MasterCard|
|2012-01-01|09:00| San Francisco|               Music|260.65|  Discover|
|2012-01-01|09:00|       Lincoln|              Garden| 136.9|      Visa|
|2012-01-01|09:00|       Buffalo|    Women's Clothing|483.82|      Visa|
|2012-01-01|09:00|      San Jose|    Women's Clothing|215.82|      Cash|
|2012-01-01|09:00|        Boston|             Cameras|418.94|      Amex|
|2012-01-01|09:00|       Houston|                Baby|309.16|      Visa|
+----------+-----+--------------+--------------------+------+----------+
only showing top 20 rows

In [12]:
# Mostra os datos da táboa cunha consulta SQL

In [13]:
spark.sql("SELECT * FROM compras").show()

+----------+-----+--------------+--------------------+------+----------+
|      data| hora|         tenda|           categoria| venda|      pago|
+----------+-----+--------------+--------------------+------+----------+
|2012-01-01|09:00|      San Jose|      Men's Clothing|214.05|      Amex|
|2012-01-01|09:00|    Fort Worth|    Women's Clothing|153.57|      Visa|
|2012-01-01|09:00|     San Diego|               Music| 66.08|      Cash|
|2012-01-01|09:00|    Pittsburgh|        Pet Supplies|493.51|  Discover|
|2012-01-01|09:00|         Omaha| Children's Clothing|235.63|MasterCard|
|2012-01-01|09:00|      Stockton|      Men's Clothing|247.18|MasterCard|
|2012-01-01|09:00|        Austin|             Cameras| 379.6|      Visa|
|2012-01-01|09:00|      New York|Consumer Electronics| 296.8|      Cash|
|2012-01-01|09:00|Corpus Christi|                Toys| 25.38|  Discover|
|2012-01-01|09:00|    Fort Worth|                Toys|213.88|      Visa|
|2012-01-01|09:00|     Las Vegas|         Video Games| 53.26|      Visa|
|2012-01-01|09:00|        Newark|         Video Games| 39.75|      Cash|
|2012-01-01|09:00|        Austin|             Cameras|469.63|MasterCard|
|2012-01-01|09:00|    Greensboro|                DVDs|290.82|MasterCard|
|2012-01-01|09:00| San Francisco|               Music|260.65|  Discover|
|2012-01-01|09:00|       Lincoln|              Garden| 136.9|      Visa|
|2012-01-01|09:00|       Buffalo|    Women's Clothing|483.82|      Visa|
|2012-01-01|09:00|      San Jose|    Women's Clothing|215.82|      Cash|
|2012-01-01|09:00|        Boston|             Cameras|418.94|      Amex|
|2012-01-01|09:00|       Houston|                Baby|309.16|      Visa|
+----------+-----+--------------+--------------------+------+----------+
only showing top 20 rows

In [14]:
# Conta o número de vendas por tenda

In [15]:
spark.sql("SELECT tenda, count(*) AS vendas FROM compras GROUP BY tenda").show()

+---------------+------+
|          tenda|vendas|
+---------------+------+
|North Las Vegas| 40013|
|        Phoenix| 40333|
|          Omaha| 40209|
|      Anchorage| 39806|
|        Anaheim| 40086|
|     Greensboro| 40232|
|         Dallas| 40368|
|        Oakland| 39728|
|         Laredo| 40342|
|     Scottsdale| 40173|
|    San Antonio| 40197|
|    Bakersfield| 40326|
|        Raleigh| 40261|
|    Chula Vista| 40080|
|   Philadelphia| 40748|
|     Louisville| 40099|
|    Los Angeles| 40254|
|       Chandler| 39826|
|     Sacramento| 40561|
|   Indianapolis| 40321|
+---------------+------+
only showing top 20 rows

In [22]:
# Fai un total de vendas por categoría

In [23]:
spark.sql("SELECT categoria, sum(venda) AS total_vendas FROM compras GROUP BY categoria").show()

+--------------------+--------------------+
|           categoria|        total_vendas|
+--------------------+--------------------+
| Children's Clothing| 5.762482093999994E7|
|      Sporting Goods| 5.759908588999996E7|
|                 CDs| 5.741075303999995E7|
|           Computers| 5.731540632000032E7|
|Consumer Electronics|5.7452374130000055E7|
|   Health and Beauty|5.7481589560001045E7|
|        Pet Supplies| 5.719725023999971E7|
|                DVDs| 5.764921214000037E7|
|                Baby|5.7491808440000996E7|
|              Crafts| 5.741815449999973E7|
|    Women's Clothing| 5.743444896999931E7|
|         Video Games| 5.751316558000001E7|
|               Books| 5.745075790999974E7|
|               Music| 5.749548970000029E7|
|      Men's Clothing| 5.762127904000029E7|
|             Cameras| 5.729904664000106E7|
|              Garden| 5.753983310999994E7|
|                Toys| 5.746347710999978E7|
+--------------------+--------------------+

In [24]:
# Garda o dataframe en HDFS en formato parquet, con particións para as diferentes tendas

In [26]:
df.write.partitionBy("tenda").mode("overwrite").parquet("output/purchases.parquet")

In [27]:
# Carga os datos da tenda de San Jose

In [28]:
df_sanjose = spark.read.parquet("output/purchases.parquet/tenda=San Jose")

In [29]:
# Mostra os datos do dataframe

In [30]:
df_sanjose.show()

+----------+-----+--------------------+------+----------+
|      data| hora|           categoria| venda|      pago|
+----------+-----+--------------------+------+----------+
|2012-04-23|09:54|      Sporting Goods| 75.37|      Visa|
|2012-01-01|09:00|      Men's Clothing|214.05|      Amex|
|2012-04-23|09:55|    Women's Clothing|126.63|      Cash|
|2012-01-01|09:00|    Women's Clothing|215.82|      Cash|
|2012-04-23|10:00|                DVDs|392.57|MasterCard|
|2012-01-01|09:09|                Toys|337.71|      Cash|
|2012-04-23|10:11|              Crafts| 79.64|      Visa|
|2012-01-01|09:17|              Garden|192.82|      Cash|
|2012-04-23|10:12|                Toys|205.45|      Visa|
|2012-01-01|09:19|             Cameras| 95.81|      Cash|
|2012-04-23|10:18|                Baby| 24.25|      Amex|
|2012-01-01|09:19|        Pet Supplies|253.33|  Discover|
|2012-04-23|10:19|         Video Games|123.07|      Visa|
|2012-01-01|09:20|           Computers| 160.6|      Amex|
|2012-04-23|10:19|              Crafts| 95.34|      Visa|
|2012-01-01|09:20|             Cameras|285.57|MasterCard|
|2012-04-23|10:24|               Music|215.48|      Cash|
|2012-01-01|09:22|                 CDs|250.46|      Cash|
|2012-04-23|10:26|Consumer Electronics|151.92|      Visa|
|2012-01-01|09:24|                DVDs|204.88|      Visa|
+----------+-----+--------------------+------+----------+
only showing top 20 rows

In [31]:
# Crea unha táboa sobre o dataframe dos datos de San Jose

In [32]:
df_sanjose.createOrReplaceTempView('compras_sanjose')

In [33]:
# Mostra os datos da táboa

In [34]:
spark.sql("SELECT * FROM compras_sanjose").show()

+----------+-----+--------------------+------+----------+
|      data| hora|           categoria| venda|      pago|
+----------+-----+--------------------+------+----------+
|2012-04-23|09:54|      Sporting Goods| 75.37|      Visa|
|2012-01-01|09:00|      Men's Clothing|214.05|      Amex|
|2012-04-23|09:55|    Women's Clothing|126.63|      Cash|
|2012-01-01|09:00|    Women's Clothing|215.82|      Cash|
|2012-04-23|10:00|                DVDs|392.57|MasterCard|
|2012-01-01|09:09|                Toys|337.71|      Cash|
|2012-04-23|10:11|              Crafts| 79.64|      Visa|
|2012-01-01|09:17|              Garden|192.82|      Cash|
|2012-04-23|10:12|                Toys|205.45|      Visa|
|2012-01-01|09:19|             Cameras| 95.81|      Cash|
|2012-04-23|10:18|                Baby| 24.25|      Amex|
|2012-01-01|09:19|        Pet Supplies|253.33|  Discover|
|2012-04-23|10:19|         Video Games|123.07|      Visa|
|2012-01-01|09:20|           Computers| 160.6|      Amex|
|2012-04-23|10:19|              Crafts| 95.34|      Visa|
|2012-01-01|09:20|             Cameras|285.57|MasterCard|
|2012-04-23|10:24|               Music|215.48|      Cash|
|2012-01-01|09:22|                 CDs|250.46|      Cash|
|2012-04-23|10:26|Consumer Electronics|151.92|      Visa|
|2012-01-01|09:24|                DVDs|204.88|      Visa|
+----------+-----+--------------------+------+----------+
only showing top 20 rows

In [35]:
# Consulta o total de vendas de San José por tipo de elementos (categoría)

In [36]:
spark.sql("SELECT categoria, sum(venda) FROM compras_sanjose GROUP BY categoria").show()

+--------------------+-----------------+
|           categoria|       sum(venda)|
+--------------------+-----------------+
| Children's Clothing|549454.2400000002|
|      Sporting Goods|540678.4099999999|
|           Computers|561784.7000000001|
|                 CDs|586499.6699999999|
|Consumer Electronics|556462.0700000003|
|   Health and Beauty|553600.1900000002|
|        Pet Supplies|540508.1199999999|
|                DVDs|569417.1900000002|
|                Baby|566853.5200000006|
|              Crafts|548947.0099999993|
|    Women's Clothing|540482.1600000001|
|         Video Games|573047.9199999998|
|               Books|         522989.8|
|               Music|550085.7599999995|
|      Men's Clothing|551148.6200000006|
|              Garden|559343.9099999996|
|             Cameras|527568.3399999999|
|                Toys|537849.7799999998|
+--------------------+-----------------+