# NoSQL. Cassandra
Cassandra is a columnar storage oriented NoSQL database

In [2]:
#  conda install conda-forge::cassandra-driver

from cassandra.cluster import Cluster

In [9]:
# connect to the Cassandra Cluster/Datacenter

cluster = Cluster(['localhost'], port=9042)g
session = cluster.connect()

row = session.execute("SELECT release_version FROM system.local").one()
if row:
    print(row[0])

4.1.3

In [10]:
# Show Keyspaces

rows = session.execute("SELECT * FROM system_schema.keyspaces")
for row in rows:
    print(row[0])

system_auth
system_schema
system_distributed
system
system_traces

In [11]:
# Query data from an existing database/keyspace
rows = session.execute("select * FROM iot.sensor")
for row in rows:
    print('codigo:{} temperatura:{} humidade:{} timestamp:{}'.format(row[0],row[3], row[1], row[2]))

InvalidRequest: Error from server: code=2200 [Invalid query] message="keyspace iot does not exist"

In [ ]:
# Insert new data
session.execute("insert into iot.sensor (codigo, temperatura, humidade, last_update_timestamp) VALUES ('0003', 16, 65, toTimeStamp(now()));")

In [8]:
# connect to another Peer

cluster = Cluster(['localhost'], port=9043)
#cluster = Cluster(['10.133.29.12'], port=9043)
session = cluster.connect()

# Query data from an existing database/keyspace
rows = session.execute("select * FROM iot.sensor")
for row in rows:
    print('codigo:{} temperatura:{} humidade:{} timestamp:{}'.format(row[0],row[3], row[1], row[2]))

NoHostAvailable: ('Unable to connect to any servers', {'127.0.0.1:9043': ConnectionRefusedError(111, "Tried connecting to [('127.0.0.1', 9043)]. Last error: Connection refused")})

In [ ]:
# Insert new data throught another peer
session.execute("insert into iot.sensor (codigo, temperatura, humidade, last_update_timestamp) VALUES ('0004', 12, 59, toTimeStamp(now()));")

In [ ]:
# Create a new database/keyspace

session.execute("create keyspace mykeyspace with replication={'class': 'SimpleStrategy', 'replication_factor' : 2};")

In [ ]:
# Define table
session=cluster.connect('mykeyspace')
qry= '''
create table students (
   studentID int,
   name text,
   age int,
   marks int,
   primary key(studentID)
);'''
session.execute(qry)

In [ ]:
# Insert some data
session.execute("insert into students (studentID, name, age, marks) values (1, 'Juhi',20, 200);")
session.execute("insert into students (studentID, name, age, marks) values (2, 'Pepi',21, 150);")

In [ ]:
# Query the data
rows = session.execute("select * from students")
for row in rows:
    print('StudentID:{} Name:{} Age:{} Marks:{}'.format(row[0],row[1], row[2], row[3]))